%h1 Meowes

%table.table
  %thead
    %tr
      %th
      %th

  %tbody
    - tweets.each do |tweet|
      %tr
        %td
          %p= tweet.text
          %p= "Meowed by #{tweet.author} at #{tweet.created_at}."
        .button-group
          %td
            = link_to 'Show', tweet, class: "btn btn-default"
            = link_to 'Edit', edit_tweet_path(tweet), class: "btn btn-primary"
            = link_to 'Destroy', tweet, method: :delete, data: { :confirm => 'Are you sure?' }, class: "btn btn-danger"
  %p= render 'form'
%br
