%h1 Meowes

%table.table
  %tr
    %td
    %td
      %table.table
        %thead
          %tr
            %th= render 'form'
            %th

        %tbody
          - tweets.each do |tweet|
            %tr
              %td
                %p= tweet.text
                %span.author
                  = "Meowed by "
                  = link_to tweet.user.name, user_path(tweet.user)
                  = "#{time_ago_in_words(tweet.created_at)}."
              .button-group
                %td
                  = link_to 'Show', tweet, class: "btn btn-default"
                  = link_to 'Edit', edit_tweet_path(tweet), class: "btn btn-primary"
                  = link_to 'Destroy', tweet, method: :delete, data: { :confirm => 'Are you sure?' }, class: "btn btn-danger"
    %td= image_tag("kitty.png")
